<!DOCTYPE html>
<html>

<head>
  <title>Φορτίο v{{.Version}}</title>
  <script src="{{.ChartJSPath}}"></script>
  <script src="{{.Version}}/static/js/fortio_chart.js"></script>
  <link rel="icon" href="../favicon.ico" />
  <link rel="stylesheet" href="{{.Version}}/static/css/tiny.css">
  <link rel="stylesheet" href="{{.Version}}/static/css/overrides.css">

</head>
{{template "header" .}}
<body class="container">
<h1 class="display-6">
  Load Test 
</h1>
<p>Up for <strong>{{.UpTime}}</strong> (since {{.StartTime}})</p>
{{if .DoLoad}} <p>{{.Labels}} {{.TargetURL}}</p>


<!-- </div> -->
<div id="running">
  <div class="card">
    Running load test... Results pending...
  </div>
  <div class="progress">
    <!-- <div class="progress-bar progress-bar-striped" id="progressBar" role="progressbar" aria-valuenow="0"
      aria-valuemin="0" aria-valuemax="100"></div> -->
    <progress class="progress-bar progress-bar-striped" id="progress" max="100" style="width: 100%"></progress>
  </div>
  
  <br />
  <button type="submit" onclick='javascript:fetch("./?stop=Stop&runid={{.RunID}}");'>Interrupt</button>
</div>
<script>runTestForDuration({{.TestExpectedDurationSeconds }})</script>
<div class="card">
  <div class="chart-container card-body" id="cc1" style="position: relative; width: 80vw; height:75vh; display:none;">
    <canvas style="background-color: #fff;" id="chart1"></canvas>
  </div>
</div>
<div id="update" style="visibility: hidden" class="card mt-1 p-1">
  <form id="updtForm" action="javascript:updateChart()">
    <div class="row justify-content-between container">
      <div class="row">
        <div class="column">
          <label for="xmin">Time axis min (ms)</label> <input type="text" id="xmin" name="xmin" size="5" />
        </div>
        <div class="column">
          <label for="xmax">Max (ms)</label> <input type="text" id="xmax" name="xmax" size="5" />
        </div>
        <div class="column">
          <label for="xlog">logarithmic</label> <input name="xlog" type="checkbox" onclick="updateChart()" />.
        </div>
        <div class="column">
          <label for="ylog">Count axis logarithmic</label> <input name="ylog" type="checkbox" onclick="updateChart()" />
        </div>
        <div  class="column">
            <input type="submit" class="btn btn-primary" value="Update" />
          </div>
      </div>
      
    </div>

</div>
</form>
</div>
<pre>{{else}}
{{if .DoStop}}
<p>Stoping runs as per request.</p>
{{else}}

<div class="card">
  
    <form>
        <div class="row">
            <input type="submit"  class="btn btn-primary column column-20" style="margin: 0 0 10px 10px;" name="load" value="Start"/>
          </div>
        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="labels">Title/Labels</label> <input placeholder="Leave empty to skip" class="form-control" id="labels" type="text" name="labels" size="40" value="Fortio" />
            </div>
            <div class="form-group">
              <label for="url">URL</label><input type="text" class="form-control" id="url" name="url"  size="80" value="http://{{.URLHostPort}}/echo?delay=250us:30,5ms:5&status=503:0.5,429:1.5" /> <br />
            </div>
            <div class="form-group">
              <label for="qps">QPS</label><input type="text" class="form-control" id="qps" name="qps"   size="6" value="1000" />
            </div>

            <div class="form-group">
              <label for="duration">Duration</label><input class="form-control" id="duration" name="duration"  type="text" size="6" value="3s" />
            </div>

            <div class="form-group">
              <label for="t">or run until interrupted</label><input class="form-control" type="checkbox" id="t" name="t" onchange="toggleDuration(this)" />
            </div>

            <div class="form-group">
              <label for="n">or run for exactly</label> <input class="form-control" type="text" id="n"  name="n" size="6" value="" /> calls. <br />
            </div>

            <!--  -->
            <div class="form-group">
                <label for="c">Threads/Simultaneous connections</label><input  class="form-control" type="text" name="c" id="c" size="6" value="8" />
            </div>

            <div class="form-group">
              <div class="custom-control custom-switch">
                <label for="jitter-switch">Jitter</label>
                <input class="custom-control-input" type="checkbox" name="jitter" id="jitter-switch" />
              </div>
            </div>
            <div class="form-group">
                <label for="r">Histogram Resolution</label>
                <input type="text" name="r" size="8" value="0.0001" />
              </div>
            
            <div class="form-group">
                <label for="r">Histogram Resolution</label>
                <input type="text" name="r" size="8" value="0.0001" />
              </div>
          </div>

        <div class="column">
          <div class="form-group">
              <label for="p">Percentiles</label>
              <input type="text" name="p" id="p" size="20" value="50, 75, 90, 99, 99.9" />
            </div>

          

          <div class="form-group">
            <label for="headers">Headers</label>
          {{ range $name, $vals := .Headers }}{{range $val := $vals}}
            <input type="text" name="H" size=40 value="{{$name}}: {{ $val }}" /> <br />
          {{end}}{{end}} <!-- 3 extra header lines, TODO(#283): add a JS 'more headers' button -->
            <input type="text" name="H" size=40 value="" /> <br />
            <input type="text" name="H" size=40 value="" /> <br />
            <input type="text" name="H" size=40 value="" /> <br />
            <button type="button" onclick="addCustomHeader()">+</button>
            <br />
            <label for="headers">Payload</label><textarea name="payload" rows="5" cols="35"></textarea><br />
            <p>
              load using
            </p>
            http: <input type="radio" name="runner" value="http" checked/>
            https insecure:<input type="checkbox" name="https-insecure" />,
            standard go client instead of fastclient:<input type="checkbox" name="stdclient"/>,
            resolve: <input type="text" name="resolve" size="12" value="" />
            <br />&nbsp;&nbsp;or<br />
            grpc: <input type="radio" name="runner" value="grpc"/>
            grpc secure transport (tls):<input type="checkbox" name="grpc-secure" />,
            using ping backend:<input type="checkbox" name="ping" />,
            ping delay: <input type="text" name="grpc-ping-delay" size="6" value="0" /> <br />
            JSON output:<input type="checkbox" name="json" />,
            Save output:<input type="checkbox" name="save" checked /> <br />

          </div>
        </div>
      </div>
      
    </form>
</div>
<!-- <p><i>Or</i></p> -->
<!-- <div>
  Browse <a href='browse'>saved results</a> (or <a href="data/">raw JSON</a>)
</div> -->
<!-- <p><i>Or</i></p> -->
<form action="javascript:document.location += 'fetch/' + document.getElementById('uri').value">
  <div>
    Debug fetch http://<input type="text" id="uri" name="uri" value="" size=50/>
  </div>
</form>
<p><i>Or</i></p>
<a href="{{.DebugPath}}">debug</a> and <a href="{{.DebugPath}}?env=dump">debug with env dump</a> and <a href="{{.DebugPath}}/pprof/">Internal PPROF</a>
and <a href="flags">Command line flags</a>
<p><i>Or</i></p>
<form action="sync">
  <div>
    Sync/download tsv or xml s3 bucket data from:<br />
    <input type="text" name="url" value="" size=50/>
  </div>
</form>
<p><i>Or</i></p>
<form method="POST">
  <div>
    Interrupt runs from this server: <input type="submit" name="stop" value="Stop" />
  </div>
</form>
{{end}}
</body>
</html>
{{end}}
