.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.navbar-brand {
    border-radius: 3px;
}
.navbar-items {
    align-items: baseline;
}
.nav-item.column {
    display: inherit;
}
.nav-logo {
    box-shadow: 1px 1px 3px 1px #ccc;
    background-color: #ff7b25;
    top: 5px;
    height: 48px; 
    width: 48px; 
    display: flex; 
    align-items: center; 
    position: relative; 
    overflow: hidden; 
    border-radius: 10px;
}
